.xp{
  min-height: 100vh;
  background: rgb(28,155,246);
  background: linear-gradient(0deg,var(--dark-ocean-color) 0%,var(--ocean-color) 100%);
  overflow-x: hidden;
}

.xp__title{
  color: #fff;
  margin: 0;
  padding: 4rem 4rem 2rem 4rem;
  font-family: var(--main-font);
  font-size: 3rem;
  text-align: center;
}

.xp__timeline{
  height: 5rem;
  position: relative;
  display: flex;
  margin-left: 10vw;
  align-items: center;
}

.xp__timeline-item{
  background-color: var(--bg);
  height: 6px;
  position: relative;
}

.xp__timeline-item:before, .xp__timeline-item:last-child:after{
  position: absolute;
  height: 15px;
  width: 15px;
  top: -4.5px;
  left: 0px;
  clip-path: circle();
  content:'';
  background: var(--bg);
}

.xp__timeline-item:last-child:after{
  right: -15px;
  left: auto;
}

.xp__content{
  display:flex;
  flex-flow: row nowrap;
  height: 100%;
  padding: 2rem 0 2rem 0;
  transition: 0.5s;
}

.xp__btn-wrapper{
  display: flex;
  margin-left: 2rem;
}

.xp__btn{
  height: 80px;
  width: 80px;
  background: var(--bg);
  clip-path: circle();
  margin: 0.2rem;
  position: relative;
}

.xp__item{
  min-height: 15rem;
  width: 98vw;
  min-width: 400px;
  background: var(--bg);
  border-radius: 30px;
  flex-grow: 0;
  flex-shrink: 0;
  font-family: var(--main-font);
  padding-top: 2rem;
  margin: 0 1vw 0 1vw;
  opacity: .1;
  transition: opacity .4s .2s;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color:rgb(96, 96, 96);
}

.xp__item__title{
  font-size: 1.6rem;
  text-align: center;
  font-weight: 600;
}

.xp__item__description{
  flex-grow: 1;
  margin: 2rem;
  font-size: 1.2rem;
  text-align: justify-all;
  white-space: pre-line;
  display: flex;
}

.xp__item__time{
  color: rgb(133, 133, 133);
  margin-bottom: 2rem;
  font-size: 1.3rem;
}

@media(min-width: 570px){
  .xp__title{
    text-align: start;
  }
  .xp__item{
    width: 35rem;
  }
}

.xp__item.active{
  opacity: 1;
}


/*  Buttons arrows  */

.xp__btn__arrow:hover>.a{
  width: 30%;
}

.xp__btn__arrow-right:hover>.a{
  width: 30%;
  transform: translateX(30%);
}

.xp__btn__arrow-left:hover{
  transform: translateX(5%);
}

.xp__btn__arrow-right:hover{
  transform: translateX(-5%);
}

.xp__btn__arrow{
  position: absolute;
  top:0%;
  left: 0%;
  height: 100%;
  width: 100%;
  transition: .2s;
}

.xp__btn__arrow>.a{
  position: absolute;
  height: 1px;
  width: 40%;
  top: 50%;
  left: 30%;
  background-color: #000;
  transition: 0.2s;
}

.xp__btn__arrow>.b, .xp__btn__arrow>.c{
  position: absolute;
  width: 1px;
  height: 20%;
  background-color: #000;
}

.xp__btn__arrow-left>.b{
  left: 37%;
  top: 33%;
  transform: rotateZ(45deg);
}

.xp__btn__arrow-left>.c{
  left: 37%;
  top: 48%;
  transform: rotateZ(-45deg);
}

.xp__btn__arrow-right>.b{
  right: 36%;
  top: 33%;
  transform: rotateZ(-45deg);
}

.xp__btn__arrow-right>.c{
  right: 36%;
  top:47%;
  transform: rotateZ(45deg);
}



.xp__btn.disabled{
  opacity: .5;
}

.xp__btn.disabled:hover{
  cursor: default;
}

.xp__btn.disabled{
  pointer-events: none;
}

.xp__btn:hover{
  cursor: pointer;
}