:root{
  --main-font: 'Trispace', sans-serif;
  --bg: #f4f6fa;
  --bg-hov: #FFF;
  --radius: 1rem;
  --ocean-color: #7ec6fa;
  --dark-ocean-color: #1c9bf6; 
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
