.lp{
  min-height: 92vh;
  position: relative;
  overflow-x: hidden;
  padding-top: 8vh;
}

@media(min-width:475px){
  .lp{
    height: 100vh;
  }
}

.lp__content{
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  z-index: 2;
}

@media(min-height: 550px){
  .lp__content{
    justify-content: center;
  }
}

.lp__title{
  font-family: var(--main-font);
  font-size: 40px;
  font-weight: 700;
}

@media(min-width: 640px) and (min-height: 550px){
  .lp__title:hover + .lp__pic-wrap{
    visibility: visible;
    opacity: 100%;
    transition: opacity 0.4s;
  }
}

.lp__background{
  position: absolute;
  min-width: 200%;
  bottom: 0px;
  margin: 0;
  display: block;
  will-change: transform;
  transform: translateX(0);
  animation: wave 13s linear 0s infinite;
  background: url("../img/wave-lg.svg") repeat-x;
  height: 320px;
  width: 2880px;
  z-index: 1;
}

@keyframes wave{
  from{
    transform: translateX(0) ;
  }

  to{
    transform: translateX(-1440px) ;
  }
}

.lp__presentation{
  font-family: var(--main-font);
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: center;
  padding: 0;
}

.presentation__card{
  list-style: none;
  max-width: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 1rem 0.4rem;
  border-radius: var(--radius);
  position: relative;
  backdrop-filter: blur(20px);
  transition: all 500ms;
  border: 2px solid transparent;
}

.presentation__card:hover{
  background: var(--bg-hov);
  transition: all 500ms;
  border: 2px solid var(--lean-color);
}

.presentation__card::before{
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;  
  opacity: .4;
  border-radius: var(--radius);
  background: var(--bg-hov);
}

.presentation__card h2{
  margin: 1rem 0 0 0;
}

.presentation__card svg{
  height: 3rem;
  width: 3rem;
}

.presentation__card p{
  padding: 0.8rem;
  white-space: pre-line;
  text-align: center;
}

.lp__pic-wrap{
  position: absolute;
  width: 15rem;
  height: 18rem;
  top:0%;
  left: 70%;
  filter: drop-shadow(-14px 16px 0px var(--lean-color));
  opacity: 0%;
  transition: all 0.4s;
  visibility: hidden;
}

.lp__pic{
  width: 100%;
  height: 100%;
  background: url("../img/pp-bg.jpg") center/contain no-repeat;
  clip-path: polygon(51.67% 4px, 83.66% 32.73%, 83.74% 68.06%, 53.33% 98.62%, 23.24% 69.98%, 53px 33.69%);
  animation: floating 4s ease-in-out 0s infinite;
}

@keyframes floating{
  from{
    transform: translateY(0%);
  }
  50%{
    transform: translateY(3%);
  }
  to{
    transform: translateY(0%);
  }
}
