.studies{
  min-height: 100vh;
  background: rgb(28,155,246);
  background: linear-gradient(0deg,var(--dark-ocean-color) 0%,var(--ocean-color) 100%);
}

.studies__title{
  color: #fff;
  margin: 0;
  padding: 4rem;
  font-family: var(--main-font);
  font-size: 3rem;
  position: relative;
}